:root {
    --presenceUsernameColor:#FFFFFF;
--presenceStatusColor:rgba(255, 255, 255, 0.7);
--presenceContainerBackground:rgba(255, 255, 255, 0.07);
--presenceContainerBorder:2px solid rgba(255, 255, 255, 0.05);
--discordServerMembers:rgba(255, 255, 255, 0.6);
--secondTabBackground:rgba(255, 255, 255, 0.07);
--secondTabBorder:2px solid rgba(255, 255, 255, 0.05);
--discordMissingIcon:rgba(255, 255, 255, 0.25);
--modernLayoutSeperator:rgba(255, 255, 255, 0.12);
--modernLayoutSeperatorBorder:rgba(255, 255, 255, 0.12);
--discordAvatarBorder:2px solid rgba(27, 27, 27, 0.15);
--badgeContainerBackground:rgba(255, 255, 255, 0.08);
--badgeContainerBorder:2px solid rgba(255, 255, 255, 0.04);
--userBadge:20.5px;
--textColor:#FFFFFF;
--textColorDarker:rgba(255, 255, 255, 0.5);
--iconColor:#FFFFFF;
--backgroundColor:#080808;
--joinStatus:rgba(255, 255, 255, 0.65);
--audioPlayerBar:rgba(255, 255, 255, 0.35);
--avatarBorder:2px solid rgba(27, 27, 27, 0.4);
--containerColor:rgba(27, 27, 27, 0.5);
--containerBlur:10px;
--containerRadius:20px;
--containerWidth:38rem;
--containerPadding:35px 15px;
--volumeBackgroundcolor:rgba(27, 27, 27, 0.5);
--volumeBorder:2px solid rgba(27, 27, 27, 0.45);
--colorUsernameGlow:0px 0px 16.5px #FFFFFF;
--buttonBackground:rgba(255, 255, 255, 0.22);
--buttonBorder:2px solid rgba(255, 255, 255, 0.12);
--buttonRadius:12px;
--buttonAlign:center;
--buttonBackgroundHover:rgba(255, 255, 255, 0.32);
--buttonBorderHover:2px solid rgba(255, 255, 255, 0.25);
--buttonUrlColor:rgba(255, 255, 255, 0.65);
--profileViewsContainerBorder:2px solid rgba(255, 255, 255, 0.4)
}

.test {
    font: Satoshi,sans-serif;
    text
}