---
import "../../public/css/styles.sass";
import "../../public/ts/app.ts"
---

<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>dylan / shark</title>
	
		<meta property="og:title" content="dylan / shark"/>
		<meta property="og:description" content="dylan's socials and about"/>
		<meta property="og:url" content="https://shxrk.dev"/>
		<meta property="og:type" content="website"/>
	  </head>

	  <body class="bio">
		<div class="bio-main">
			<p class="name">dylan</p>
		</div>
	  </body>
</html>