---
import "../../public/sass/styles.sass";
---

<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>dylan / shark</title>
	
		<meta property="og:title" content="dylan / shark"/>
		<meta property="og:description" content="dylan's socials and about"/>
		<meta property="og:url" content="https://shxrk.dev"/>
		<meta property="og:type" content="website"/>
	  </head>

	  <body class="bio">
		<div class="bio-main">
			<p class="name">dylan</p>
			 <p class="desc">i'm dylan and i like hacking and coding</p>
		</div>

		<div class="bio-socials">
			
		</div>

		<script src="/ts/app.ts" is:inline></script>
	  </body>
</html>

