---
import "../../public/sass/styles.sass";

// top navbar
import Navbar from "../components/Navbar.astro"

// snowflakes
import Snowflakes from "../components/Snowflakes.astro";

// logos
import DiscordLogo from "../components/logos/DiscordLogo.astro";
import GithubLogo from "../components/logos/GithubLogo.astro";
import EmailLogo from "../components/logos/EmailLogo.astro";
import SteamLogo from "../components/logos/SteamLogo.astro";
import SpotifyLogo from "../components/logos/SpotifyLogo.astro";
---

<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>dylan / shark</title>
	
		<meta property="og:title" content="dylan / shark"/>
		<meta property="og:description" content="dylan's socials and about"/>
		<meta property="og:url" content="https://shxrk.dev"/>
		<meta property="og:type" content="website"/>
	  </head>

	  <body class="bio">

		<Navbar />

		<div class="bio-main">
			<p class="name">dylan</p>
			 <p class="desc">i'm dylan and i like hacking and coding. i'm also 13</p>

			 <div class="bio-socials">
				<DiscordLogo link="https://discord.com/users/1204149467251613756" />
				<GithubLogo link="https://github.com/0xDylan" />
				<EmailLogo address="hi@shxrk.dev" /> <!-- You only need to type the email address here, don't worry about the mailto: part -->
				<SteamLogo link="https://steamcommunity.com/id/hawaiiandyl/" />
				<SpotifyLogo link="https://open.spotify.com/user/ip24s6xdgak5k5rjnuqc59qo4?si=a83e1c6a13c94d88" />
			</div>

		</div>

		<Snowflakes />

	  </body>
</html>

