---
import "../../public/sass/styles.sass";

// top navbar
import Navbar from "../components/Navbar.astro"

// logos
import DiscordLogo from "../components/logos/DiscordLogo.astro";
import GithubLogo from "../components/logos/GithubLogo.astro";
---

<html lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>dylan / shark</title>
	
		<meta property="og:title" content="dylan / shark"/>
		<meta property="og:description" content="dylan's socials and about"/>
		<meta property="og:url" content="https://shxrk.dev"/>
		<meta property="og:type" content="website"/>
	  </head>

	  <body class="bio">

		<Navbar />

		<div class="bio-main">
			<p class="name">dylan</p>
			 <p class="desc">i'm dylan and i like hacking and coding</p>

			 <div class="bio-socials">
				<DiscordLogo class="discord" href="https://discord.gg/sirex" />
				<GithubLogo class="github" href="https://github.com/0xDylan" />
			</div>
		</div>

		<script src="/ts/app.ts" is:inline></script>
	  </body>
</html>

