---
import "@fontsource/inter";
import "../../public/sass/style.sass";
---


<!-- Massive thanks to Darkn for this! -->

<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <title>dylan ~ home</title>

    <meta property="og:title" content="dylan ~ home"/>
    <meta property="og:description" content="dylan's socials and about"/>
    <meta property="og:url" content="https://shxrk.dev"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://shxrk.dev/img/pfp-new.png"/>
    <meta property="og:image:width" content="512"/>
    <meta property="og:image:height" content="512"/>

  </head>
  <body class="alt">
    <div class="alt-main">
      <a href="https://shxrk.xyz" target="_blank">
      <img class="pfp" src="/img/pfp-new.png">
      </a>
      <h1 class="name">Dylan</h1>
      <p class="nameDesc">a 13 year old enthusiast coder™</p>
      <a href="https://discord.gg/9fb92Fm252" target="_blank">
        <img class="icons-a" src="/img/icon/discord-icon-alt.webp"/>
      </a>
      <a href="https://github.com/0xDylan" target="_blank">
        <img class="icons-b" src="/img/icon/github-icon-alt.webp"/>
      </a>
      <a href="https://shxrk.xyz" target="_blank">
        <img class="icons-c" src="/img/icon/www-icon-alt.png"/>
      </a>
      <a href="mailto:hi@shxrk.dev" target="_blank">
        <img class="icons-d" src="/img/icon/email-icon-alt.png"/>
      </a>
      <a href="https://blog.shxrk.dev" target="_blank">
        <img class="icons-e" src="/img/icon/blog-icon-alt.webp"/>
    </div>

  </body>
</html>
