---
import "../../public/sass/old/old.sass"
---

<!-- Full credits for this page go to me (dylan/shxrk) -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shxrk ~ full-stack dev</title>
</head>


<body>

    <header>
       <a href="https://shxrk.dev/old_projects">projects</a>
       <a href="https://shxrk.dev/old_tools">tools</a>&nbsp;&nbsp;
        
    </header>

    <div class="name">
    <center>
        <name>shxrk</name> 
    </center>
    </div>

    <div class="name-desc">
        <center>
        <desc>
            <bullet>>></bullet> i am shxrk, a full-stack dev currently <br>
             &nbsp;&nbsp; working on a new version of this site.
        </desc>
        </center>

        <br>
        <br>
        
    <div class="socials">
        <center>
            <socials>socials</socials>
        </center>
    </div>

    <br>

    <div class="socials-desc">
        <center>
            <desc>
                <bullet>>></bullet> you can find my GitHub <a href="https://github.com/shxrklol">here</a>
                <br>
                <bullet>>></bullet> you can find my YouTube <a href="https://www.youtube.com/@dy1ansols">here</a>
                <br>
                <bullet>>></bullet> you can find my Discord Server <a href="https://dsc.gg/stxts">here</a> but <br>
                my username <italic>(currently)</italic> is dylandtb
            </desc>
        </center>
    </div>

    <br>
    <br>

    <div class="qna">
        <center>
            <qna>quick qna</qna>
        </center>
    </div>

    <br>

    <div class="qna-desc">
        <center>
            <desc>
                <bullet>Q:</bullet> Why is the 'Games' section still not here?
                <br>
                <br>
                <bullet>A:</bullet> i'm not working on it anymore. it<br>
                &nbsp;&nbsp; isn't very important and this will <br>
                &nbsp;&nbsp; most likely get blocked in a few days <br>
            </desc>
            
            <br>

            <desc>
                <bullet>Q:</bullet> What are your plans for this website?
                <br>
                <br>
                <bullet>A:</bullet> i honestly don't even know. there <br>
                &nbsp;&nbsp; are a lot of things i would like to <br>
                &nbsp;&nbsp; do. you could find some in the readme  <br>
                &nbsp;&nbsp; for the source code on my github.<br>
            </desc>
        </center>
    </div>


   
</body>
</html>
