---
import "../../public/sass/old/old.sass"
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shxrk.dev ~ tools</title>
</head>
<body>

    <header>
       <a href="https://shxrk.dev/old">home</a>&nbsp;&nbsp;
        
    </header>

    <div class="name">
    <center>
        <name>./tools</name>
    </center>
    </div>

    <div class="name-desc">
        <center>
        <desc>
            <bullet>>></bullet> <a href="https://cobalt.tools">cobalt</a> is a tool that takes <br>
             &nbsp;&nbsp; social media links and turns them <br>
             &nbsp;&nbsp; into .mp4 or .mp3 files
        </desc>

        <br>
        <br>

        <desc>
            <bullet>>></bullet> <a href="https://coolors.co">coolors</a> is a tool that helps <br>
            &nbsp;&nbsp; with picking out color pallets for <br>
            &nbsp;&nbsp; projects such as powerpoints
        </desc>

        <br>
        <br>

        <desc>
            <bullet>>></bullet> <a href="https://bard.google.com">google bard</a> is a tool/ai that can <br>
            &nbsp;&nbsp; answer any user prompt with a more <br>
            &nbsp;&nbsp; in-depth, specific answer than ChatGPT
        </desc>

        <br>
        <br>

        <desc>
            send suggestions to shxrk@shxrk.dev
        </desc>
</body>
</html>
