---
import "../../public/sass/old/old.sass"
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shxrk ~ projects</title>
</head>
<body>

    <header>
        <a href="https://shxrk.dev/old">home</a>
    </header>
    
    <div class="name">
        <center>
            <name>./projects</name>
        </center>
    </div>

    <div class="name-desc">
        <center>
            <desc>
                <bullet>>></bullet> <a href="https://github.com/sgames/schoolhub">sgames</a> is a project that used to host <br>
                &nbsp; up-to-date games for certain people <br>
                &nbsp; to play. it is now <a href="https://www.google.com/search?q=deprecated+in+coding&oq=depre&gs_lcrp=EgZjaHJvbWUqCAgAEEUYJxg7MggIABBFGCcYOzIJCAEQIxgnGIoFMgYIAhBFGDkyCQgDEAAYQxiKBTIMCAQQABhDGLEDGIoFMgwIBRAAGEMYsQMYigUyDAgGEAAYQxixAxiKBTIKCAcQABixAxiABDIKCAgQABixAxiABDIKCAkQABixAxiABNIBCDExOTdqMGoxqAIAsAIA&sourceid=chrome&ie=UTF-8">deprecated</a> because of <br>
                &nbsp; more updated, newer websites being made.
            </desc>

            <br>
            <br>

            <desc>
                <bullet>>></bullet> <a href="https://github.com/shxrklol/Calypso">calypso+</a> is a project that is a skid <br>
                &nbsp; of a popular minecraft 1.12.2 HvH client <br>
                &nbsp; called <a href="github.com/3arthqu4ke/3arthh4ck">3arthh4ck</a>. it is now archived because <br>
                &nbsp; of a newer version of <a href="github.com/3arthqu4ke/3arthh4ck">3arthh4ck</a> being continued.
            </desc>

            <br>
            <br>

            <desc>
                <bullet>>></bullet> ChromiumFort is a project that is <italic>currently</italic> <br>
                &nbsp; private. this project allows you to play Fortnite on <br>
                &nbsp; chromebooks via HolyUnblocker and GeForce Now.
            </desc>
        </center>
    </div>

</body>
</html>
