---
// this is the top navbar on the website!!
---

<div class="navbar">
    <p class="title">
        <a style="color: #ffffff; text-decoration: none;" href="https://shxrk.dev">shxrk.dev</a>
        
        <a class="blog" target="_blank" style="color: #ffffff; text-decoration: none;" href="https://blog.shxrk.dev">blog</a>

        <a class="xyz" target="_blank" style="color: #ffffff; text-decoration: none;" href="https://shxrk.xyz">.xyz<ss>&nbsp;~~~&nbsp;</ss></a>
    </p>
</div>